<!-- Ticket container -->
<div id="ticket-list">
  {{#each tickets}}
    <div class="ticket-outer-container">
      <div class="ticket-inner-container">
        <div class="ticket-container1">
          <div class="order-container">
            <div class="order-details">
              <p id="order-number">Order number #{{this.orderNum}}</p>
              <p id="creation-date">Created on: {{this.creationDate}}</p>
              <p id="ticket-handler">Ticket Handled by: {{this.handlerUsername}}</p>
            </div>
          </div>
        </div>
          {{#isEqual this.orderStatus "PENDING"}}
              <form id="ticketForm" class="modal-form" method="post" action="/all-tickets/accept">
                  <div class="ticket-container2">
                      <div class="status-container">
                          <div class="order-status">
                              <!-- HANDLE BUTTON: IF CLICKED, IT WILL ACCEPT TICKET AND ASSIGN TO LOGGED IN ADMIN -->
                              <input name="orderNum" type="hidden" value="{{this.orderNum}}">
                              <button type="submit" id="handle-btn">ACCEPT</button>
                          </div>
                      </div>
                  </div>
              </form>
              <form id="ticketForm" class="modal-form" method="post" action="/all-tickets/reject">
                  <div class="ticket-container2">
                      <div class="status-container">
                          <div class="order-status">
                              <!-- HANDLE BUTTON: IF CLICKED, IT WILL ACCEPT TICKET AND ASSIGN TO LOGGED IN ADMIN -->
                              <input name="orderNum" type="hidden" value="{{this.orderNum}}">
                              <button type="submit" id="handle-btn">REJECT</button>
                          </div>
                      </div>
                  </div>
              </form>
          {{else}}
              <div class="ticket-container2">
                  <div class="status-container">
                      <div class="order-status">
                          <p>{{this.orderStatus}}</p>
                      </div>
                  </div>
              </div>
          {{/isEqual}}
      </div>
    </div>
  {{/each}}
</div>
