<!-- Ticket container -->
<div id="ticket-list">
  {{#each tickets}}
    <div class="ticket-outer-container">
      <div class="ticket-inner-container">
        <div class="ticket-container1">
          <div class="order-container">
            <div class="order-details">
              <p id="order-number">Order number #{{this.orderNum}}</p>
              <p id="creation-date">Created on: {{this.creationDate}}</p>
              <p id="ticket-handler">Ticket Handled by: {{this.handler}}</p>
            </div>
          </div>
        </div>

        <div class="ticket-container2">
          <div class="priority-container">
            <div class="priority-level">
              <p>Priority Level {{this.prioLevel}}</p>
            </div>
          </div>

          <div class="status-container">
            <div class="order-status">
              <p>{{this.orderStatus}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
