<!-- Ticket container -->
<div id="ticket-list">
        <div class="ticket-outer-container">
            <div class="ticket-inner-container">
                <div class="ticket-container1">
                    <div class="order-container">
                        <div class="order-details">
                            <p id="order-number">Order No. {{orderNum}}</p>
                            <p id="creation-date">Created on: {{ticket.creationDate}}</p>
                            <p id="ticket-handler">Handled by: {{ticket.handlerUsername}}</p>
                            <p id="ticket-status">Status: {{ticket.orderStatus}}</p>
                            <p id="ticket-description">Description: {{ticket.description}}</p>
                            <p id="specs">Specifications: {{ticket.specs}}</p>
                            <p id="quantity">Quantity: {{ticket.quantity}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
