<!-- Ticket container -->
<div id="ticket-list">
    <form id="ticket-form" method="post" action="/tickets-handled/update">
        <div id="ticketModal" class="modal">
            <div class="modal-content">
                <div class="modal-manage-header">
                    <div class="edit-ticket-title">
                        <h4> EDIT TICKET DETAILS </h4>
                    </div>

                    <div class="close-ticket-details">
                        <span class="close">&times;</span>
                    </div>
                </div>

                <div class="order-status-modal-container">
                    <input type="hidden" id="modalOrderNum" name="orderNum">
                    <label for="modalOrderStatus" id="order-status-title-modal"> Order Status:</label>

                    <select id="modalOrderStatus" name="orderStatus">
                        <option value="PENDING">PENDING</option>
                        <option value="ACCEPTED">ACCEPTED</option>
                        <option value="REJECTED">REJECTED</option>
                        <option value="CANCELLED">CANCELLED</option>
                        <option value="IN PROGRESS">IN PROGRESS</option>
                        <option value="ON THE WAY">ON THE WAY</option>
                        <option value="COMPLETED">COMPLETED</option>
                    </select>
                </div>

                <div class="handler-modal-container">
                    <div class="modalHandlerUsername-container1">
                        <label for="modalHandlerUsername" id="handler-label-id">Handler:</label>
                    </div>

                    <div class="modalHandlerUsername-container2">
                        <input type="text" id="modalHandlerUsername" name="handlerUsername" placeholder="Handler Username">
                    </div>
                </div>

                <div class="description-modal-container">
                    <div class="modalDescription-container1">
                        <label for="modalDescription" id="description-label-id">Description:</label>
                    </div>
                    
                    <div class="modalDescription-container2">
                        <textarea id="modalDescription" name="description" rows="4" cols="10"></textarea>
                    </div>
                </div>

                <div class="specs-modal-container">
                    <div class="modalSpecs-container1">
                        <label for="modalSpecs">Specs:</label>
                    </div>

                    <div class="modalSpecs-container2">
                        <textarea id="modalSpecs" name="specs" rows="4" cols="10"></textarea>
                    </div>
                </div>

                <div class="quantity-modal-container">
                    <div class="modalQuantity-container1">
                        <label for="modalQuantity">Quantity:</label>        
                    </div>

                    <div class="modalQuantity-container2">
                        <input type="number" id="modalQuantity" name="quantity" placeholder="Quantity">
                    </div>
                </div>
                
                <div class="manage-modal-buttons-container">
                    <div class="update-manage-btn">
                        <button id="updateBtn" type="submit">Update</button>
                    </div>

                    <div class="cancel-manage-btn">
                        <button id="cancelBtn" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{{#each tickets}}
    <div class="ticket-outer-container">
        <div class="ticket-inner-container">
            <div class="ticket-container1">
                <div class="order-container">
                    <div class="order-details">
                        <a href="/tickets/{{this.orderNum}}"><p id="order-number">Order No. {{this.orderNum}}</p></a>
                        <p id="creation-date">Created on: {{this.creationDate}}</p>
                        <p id="ticket-handler">Ticket handled by: {{this.handlerUsername}}</p>
                    </div>
                    <div class="hidden-status" style="display: none;">{{this.orderStatus}}</div>
                </div>
            </div>
          <div class="ticket-container2">
                <div class="status-container">
                    <div class="order-status">
                        <p>{{this.orderStatus}}</p>
                    </div>
                </div>
                <div class="status-container">
                    <div class="order-status">
                        <button class="manageBtn" data-order-number="{{this.orderNum}}"
                                                    data-order-status="{{this.orderStatus}}"
                                                    data-handler="{{this.handlerUsername}}"
                                                    data-description="{{this.description}}"
                                                    data-specs="{{this.specs}}"
                                                    data-quantity="{{this.quantity}}">
                        MANAGE
                        </button>
                    </div>
                </div>
          </div>
        </div>
    </div>
  {{/each}}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
            const manageBtns = document.querySelectorAll('.manageBtn');
            manageBtns.forEach(btn => {
                btn.addEventListener('click', function() {
                    const number = btn.getAttribute('data-order-number');
                    const status = btn.getAttribute('data-order-status');
                    const handler = btn.getAttribute('data-handler');
                    const description = btn.getAttribute('data-description');
                    const specs = btn.getAttribute('data-specs');
                    const quantity = btn.getAttribute('data-quantity');
                    $('#modalOrderNum').val(number);
                    $('#modalOrderStatus').val(status);
                    $('#modalHandlerUsername').val(handler);
                    $('#modalDescription').val(description);
                    $('#modalSpecs').val(specs);
                    $('#modalQuantity').val(quantity);
                    $('#ticketModal').show();
                });
                 $('.close, #cancelBtn').click(function() {
            $('#ticketModal').hide();
        });
        $(window).click(function(event) {
            if ($(event.target).is('#ticketModal')) {
                $('#ticketModal').hide();
            }
        });});});
</script>